.cadc-banner-container {
    background-image: url('/static/images/web-banner-bg.gif');
    background-size: contain;
    background-position: center;
}

.cadc-banner-inner-bg {
    background-image: url('/static/images/web-banner.jpg') !important;
    background-size: cover !important;
    background-position: bottom left !important;
    background-repeat: no-repeat !important;
}

div.profile-modal {
    position: absolute;
    padding: 10px;
    left: 85px;
    text-align: center;
    color: #23447e;
    border-radius: 0.8em;
    border-width: 0.2em;
    border-color: #23447e;
    background-color: #fff;
    width: 200px;
    height: auto;
    display: none;
}
  
div.profile-modal, a.sign-on-off-cancel {
    z-index: 1000000;
}

.home #wb-bnr+#wb-bc {
    color: #284162;
    margin-left: 0;
}

 /*
 	---------------------------- Cookie Banner start ----------------------------
 */
#consent_banner {
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 9999;
    background: #d7faff; /* Needed to override inherited background in main theme. #annoying */
}
 /*
 	---------------------------- Cookie Banner end ----------------------------
 */

@media screen and (min-width: 992px) {
    #wb-bnr+#wb-bc {
        border-top: 3px solid #38414d;
        margin-top: 5px;
    }
}