label.input-group-addon {
    padding: 8px 14px;
}

details[open] > summary {
    border: 0;
}

table#entire_table td.title {
    max-width: 400px;
}

table#archive_table td.title {
    max-width: 400px;
}

td.details-control {
    cursor: pointer
}
