<header>
	<div id="wb-bnr" class="container">
		<div class="row">
			{% if page.altLangPage %}
				{% include language/inc-languagetoggle.html %}
			{% endif %}
			{% include headers-includes/brand.html %}
			{% unless page.nositesearch %}
				{% include headers-includes/sitesearch.html %}
			{% endunless %}
		</div>
	</div>
    {%- unless page.nomenu -%}
        {% include gcweb-menu/sitemenu.html %}
    {%- endunless -%}
	<hr class="mrgn-bttm-0" />
	{% include breadcrumbs/inc-breadcrumbs.html %}
</header>
