{%- include variable-core.liquid -%}
{%- assign i18nText-cadc=site.data.cadc[i18nText-lang] -%}

<style type="text/css">
    .cadc-banner-container {
        background-image: url('/static/images/web-banner-bg.gif');
        background-size: contain;
        background-position: center;
        padding: 0 !important;
    }
    
    .cadc-banner-inner-bg {
        background-image: url('/static/images/web-banner.jpg') !important;
        background-size: cover !important;
        background-position: bottom left !important;
        background-repeat: no-repeat !important;
    }

    a.home-link {
        color: #ffffff;
        text-decoration: none;
    }

    a.home-link:hover {
        color: #ffffff;
    }

    section.cadc-banner {
        padding-left: 0;
        padding-right: 0;
    }

    div.cadc-banner-bg {
        padding-left: 0;
        padding-right: 0;
    }
</style>

<section class="cadc-banner clearfix">
    <h2 class="wb-inv">{{ i18nText-signOnOff }}</h2>
    <div class="highlighted mrgn-tp-md">
        <div class="region region-highlighted">
            <section id="block-homepagebannerenglish" data-block-plugin-id="block_content:7ee5051c-11db-4619-b6e8-9979c981acea" class="block block-block-content block-block-content7ee5051c-11db-4619-b6e8-9979c981acea clearfix">
                <div class="field field--name-body field--type-text-with-summary field--label-hidden field--item">
                    <!-- IMG INTRO -->
                    <div class="cadc-banner-bg col-md-12">
                        <div class="row cadc-banner-container row-no-gutters">
                            <div class="container cadc-banner-inner-bg">
                                <div class="text-white mrgn-bttm-md mrgn-lft-md">
                                    <p class="h1 opct-90 col-md-8">
                                        <a class="text-white home-link" href="/{{ i18nText-lang }}/">{{ site.title[i18nText-lang] }}</a>
                                    <div class="text-right col-md-4 mrgn-tp-lg small">
                                        <div id="sign_on_off_unsigned" class="unsigned hidden">
                                            <a class="btn btn-default" href="{{ i18nText-cadc.register.url }}">{{ i18nText-signOnRegister }}</a>
                                            <a class="btn btn-primary" href="{{ i18nText-cadc.signin.url }}">{{ i18nText-signIn }}</a>
                                        </div>
                                        <div id="sign_on_off_signed" class="signed hidden">
                                            <strong class="col-md-12 small">{{ i18nText-signAs }} <span class="user-full-name"></span></strong>
                                            <button id="sign_on_off_account" class="btn btn-default" type="button">{{ i18nText-signAccount }}</button>
                                            <div id="profile_modal" class="profile-modal brdr-tp brdr-bttm brdr-lft brdr-rght" style="display: none;">
                                                <ul class="lst-none text-left">
                                                    <li><a class="user_edit_profile ui-link" href="/en/auth/update.html">Edit Profile</a></li>
                                                    <li><a class="change_password ui-link" href="/en/auth/resetPassword.html">Reset Password</a></li>
                                                    <li><a id="download_certificate" class="download_certificate ui-link" href="/cred/priv?daysValid=30" title="Valid for thirty (30) days">Obtain a Certificate</a></li>
                                                    <li><hr /></li>
                                                    <li><a id="sign_on_off_cancel" class="sign-on-off-cancel ui-link" href="#">Cancel</a></li>
                                                </ul>
                                            </div>
                                            <a href="/access/logout" id="sign_on_off_signoff" class="btn btn-primary" type="button">{{ i18nText-signOut }}</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div><div class="mrgn-lft-xl mrgn-bttm-md">
                                    <p class="text-white small mrgn-tp-sm mrgn-lft-lg">{{ site.description[i18nText-lang] }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- END | FIN -->
    </div>
</section>