---
layout: core

nofooter: true
signing: true
nositesearch: true
---
{%- include variable-core.liquid -%}
{%- assign i18nText-nav = site.data[page.nav][i18nText-lang]['nav'] -%}

<div class="highlighted mrgn-tp-md">
    <div class="region region-highlighted">
        <section id="block-homepagebannerenglish" data-block-plugin-id="block_content:7ee5051c-11db-4619-b6e8-9979c981acea" class="block block-block-content block-block-content7ee5051c-11db-4619-b6e8-9979c981acea clearfix">
            <div class="field field--name-body field--type-text-with-summary field--label-hidden field--item">
                <!-- IMG INTRO -->
                <div class="row cadc-banner-container row-no-gutters">
                    <div class="col-md-12">
                        <div class="container cadc-banner-inner-bg">
                            <p class="text-white mrgn-bttm-md mrgn-rght-md mrgn-lft-md h1 opct-90">{{ site.title[i18nText-lang] }}</p>
                            <div class="mrgn-lft-xl mrgn-bttm-md">
                                <p class="text-white small mrgn-tp-sm mrgn-lft-lg">{{ site.description[i18nText-lang] }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
<!-- END | FIN --> 
</div>
<main class="container" property="mainContentOfPage" resource="#wb-main" typeof="WebPageElement">
    {%- if site.warning.enabled -%}
    <div class="row">
        <div class="full-width">
            <section class="alert alert-warning">
                <p>{{ site.warning[i18nText-lang] }}</p>
            </section>
        </div>
    </div>
    {%- endif -%}
    <div class="row">
        <div class="container">
            <div class="col-md-6 col-sm-6">
                <section id="services">
                    <h3>{{ i18nText-nav.services.title }}</h3>
                    <ul class="list-style-none">
                        {%- for n in i18nText-nav.services.links -%}
                            <li><a href="{{ n.url }}">{{ n.name }}</a></li>
                        {%- endfor -%}
                    </ul>
                </section>
            </div>
            <div class="col-md-6 col-sm-6">
                <section id="advanced-data-products">
                    <h3>{{ i18nText-nav.advanced_data_products.title }}</h3>
                    <ul class="list-style-none">
                        {%- for n in i18nText-nav.advanced_data_products.links -%}
                        <li><a href="{{ n.url }}">{{ n.name }}</a></li>
                        {%- endfor -%}
                    </ul>
                </section>
            </div>
            <div class="col-md-12 col-sm-12">
            {%- assign tdp-links = i18nText-nav.telescope_data_products.links -%}
                <section id="telescope-data-products">
                    <h3>{{ i18nText-nav.telescope_data_products.title }}</h3>
                    <div class="col-md-6 col-sm-6">
                        <ul class="list-style-none">
                            {%- for l in i18nText-nav.telescope_data_products.links.left -%}
                            <li><a href="{{ l.url }}">{{ l.name }}</a></li>
                            {%- endfor -%}
                        </ul>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <ul class="list-style-none">
                            {%- for l in i18nText-nav.telescope_data_products.links.right -%}
                            <li><a href="{{ l.url }}">{{ l.name }}</a></li>
                            {%- endfor -%}
                        </ul>
                    </div>
                </section>
            </div>
        </div>
    </div>
    {% include main-footer/inc-footer.html %}
</main>